.flash-box
  .notice

.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          neko
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %a{:href => "#"}
              %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            %a{:href => "#"}
              %i.fa.fa-cog
    .groups
      %a{:href => "#"}
        .group
          %p.group__group-name
            neko
            %p.group__latest-message
              おはよう
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          neko
        %ul.main-header__left-box__member-list
          Member : neko

      %a{:href => "#"}
        .main-header__edit-btn
          Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            neko
          %p.message__upper-info__date
            2019/02/22(Fri) 18:35:39
        %p.message__text
          あいうえお
    .form
      %form#new_message.new_message
        .input-box
          %input.input-box__text{:type => "text", :placeholder => "type a message"}
            %label.input-box__image
              %i.fa.fa-image
            / %input#message_image.input-box__image__file{:type => "file", :name => "message[image]"}
        %input.submit-btn{:type => "submit", :name => "commit", :value => "Send"}
